<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div>
        <span>Welcome, <span th:text="${account.userName}">User</span>!</span>
        <a th:href="@{/auth/v1/logout}" class="btn btn-secondary">Logout</a>
    </div>
    <h1 class="mt-5">Product List</h1>
    <div class="mb-3">
        <a th:href="@{/Con/v1/create_product_form}" class="btn btn-primary">Create Product</a>
    </div>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <!--<th scope="col">Description</th>-->
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.productNameRequest}">Product Name</td>
            <td th:text="${product.priceRequest}">Price</td>
            <td th:text="${product.quantityRequest}">Quantity</td>
            <!--<td th:text="${product.descriptionRequest}">Description</td>-->
            <td th:if ="!${#strings.startsWith(product.imageRequest, 'http://localhost:8080')}"><img th:src="${product.imageRequest}" alt="Product Image" width="100" height="100"/></td>
            <td th:if ="${#strings.startsWith(product.imageRequest, 'http://localhost:8080')}"><img th:src="@{/api/v1/image/files/{filename}(filename=${product.imageRequest.replace('http://localhost:8080/files/','')})}" alt="Product Image" width="100" height="100"/></td>
            <td th:text="${product.categoryName}">Category</td>
            <td>
                <a th:href="@{'/Con/v1/product_detail/'+ ${product.productIdRequest}}"
                   class="btn btn-info btn-sm">Detail</a>
                <a th:href="@{'/Con/v1/update_form/'+ ${product.productIdRequest}}"
                   class="btn btn-warning btn-sm">Update</a>
                <a th:href="@{'/Con/v1/delete/'+ ${product.productIdRequest}}"
                   class="btn btn-warning btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Include Bootstrap JS and any necessary libraries if needed -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-4QFom5FzGFCsZ9k1IH5Jks5w/WtIh+gi4+1S+1R6BQIz5JucjppfQpbekImX5iC/"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+qhP6b/8/8Bak2KR3twI"
        crossorigin="anonymous"></script>
</body>
</html>
